body {
  background: #1e1e1e;
}

p, div {
  background: lightblue;
  padding: 10px;
  border: 4px solid purple;
}

.green-border {
  border: 4px solid green;
}

#first-paragraph {
  border: 4px solid yellow;
}
